Component IN
  .device=IPAD
  .width=${n}
  .pinseq=1
  
<#list 0..toInt(n)-1 as i>
Component OUT${i}
  .device=OPAD
  .width=1
  .pinseq=${i+2}
  
Component BT${i}
  .device=BUSTAP
  .spec=${i}
  
Net _btnet${i}: BT${i} tapped, OUT${i} OPAD

</#list>

Net _btbus: IN IPAD<#list 0..toInt(n)-1 as i>, BT${i} bus</#list>


  